@layer components {
  /* #region UTILITY-BAR */
  .utility-bar-custom {
    @apply !bg-utility-bar;
  }

  .announcement-bar-custom-message {
    @apply !text-xl;
  }
  /* #endregion */

  /* #region HEADER */
  .header-custom-wrapper {
    @apply !bg-header;
  }

  /* .header-custom {
    @apply !px-2;
  } */

  .header-custom-logo {
    @apply !flex !flex-col !justify-center !items-center !p-0 gap-3;
  }

  .header-custom-logo-image {
    @apply !h-12 md:!h-[3.75rem] lg:!h-[4.5rem] !w-auto;
  }

  .header-custom-logo-text {
    @apply !text-xl sm:!text-2xl md:!text-[1.75rem] !uppercase !text-heading-pri;
    font-family: var(--font-heading-family) !important;
  }

  .header-custom-logo:hover .header-custom-logo-text {
    @apply !text-heading-pri-hover;
  }

  /* #region OVERWRITTEN */
  .header {
    @apply !py-4 sm:!py-3 !px-8;
  }

  .header__heading-logo-wrapper {
    @apply !flex !flex-col !justify-center !items-center;
  }

  .header__active-menu-item {
    @apply !no-underline;
  }

  .header-custom-menu-item {
    @apply !text-xl !p-0 !pr-2 !text-foreground-pri;
  }

  .header-custom-menu-item:hover {
    @apply !text-footer;
  }

  .header-custom-menu-item:hover span {
    @apply !text-footer;
  }

  .header__inline-menu {
    @apply !ml-0;
  }

  /* .header__icons {
    @apply !pr-0 gap-2 sm:gap-3 md:gap-5;
  } */

  .header-icons-custom {
    @apply !flex !flex-row !justify-self-end !justify-center !items-center !gap-2 sm:!gap-3 md:!gap-5 !pr-0;
  }

  .header__icon {
    @apply !h-auto !w-auto;
  }

  .header__icon:hover .icon,
  .modal__close-button:hover .icon {
    transform: scale(1) !important;
  }

  .header__icon:hover .icon {
    @apply !text-footer;
  }

  .header__icon--cart {
    @apply !static !mr-0;
  }

  /* .header__icon--menu .icon {
    position: static !important;
  } */

  /* .header-wrapper--border-bottom {
    @apply;
  } */

  /* .header-custom-navlist {
    @apply flex flex-row justify-start items-center gap-4;
  } */
  /* #endregion */

  /* #endregion */

  /* #region HEADER-SEARCH */
  .header-search-custom-modal {
    @apply !bg-navbar;
  }
  /* #endregion */

  /* #region MOBILE-MENU-DRAWER */
  /* header-drawer {
    @apply !ml-0;
  } */

  .custom-menu-drawer {
    @apply !bg-header;
  }

  .header-menu-drawer-account-custom {
    @apply !text-foreground-pri;
  }

  .header-drawer-icon-custom {
    @apply !h-18 !w-18 !flex !justify-center !items-center;
  }

  .menu-drawer-bottom-custom {
    @apply !flex !flex-col !justify-start !items-start gap-7 !bg-footer !text-foreground-pri;
  }

  /* OVERWRITTEN */
  .menu-drawer__menu-item {
    @apply !text-2xl;
  }
  /* #endregion */

  /* #region FOOTER */
  .footer-custom {
    @apply !bg-navbar !m-0 !pt-20 !pb-0;
  }

  .footer-top-custom {
    @apply !pb-20;
  }

  .footer-wrapper-custom {
    /* @apply !grid !grid-cols-1 md:!grid-cols-2 grid-rows-a lg:!grid-cols-[1fr_3fr_1.5fr] !items-center !gap-20 md:!gap-10; */
    @apply !flex !flex-row !flex-wrap !justify-around lg:!items-center !gap-x-20 md:!gap-x-10;
  }

  .footer-block-custom:first-child {
    @apply order-1 !basis-1/4 lg:!basis-1/5;
  }

  .footer-block-custom:nth-child(2) {
    @apply order-3 lg:order-2 !basis-1/2 lg:!basis-3/10;
  }

  .footer-block-custom:last-child {
    @apply order-2 lg:order-3 !basis-1/4 lg:!basis-1/5;
  }

  .footer-block-custom {
    @apply !w-full !max-w-full !flex-none;
  }

  /* BRAND BLOCK */
  .footer-block-brand-custom {
    @apply !flex !flex-col !justify-center !items-center gap-2 !text-center;
  }

  .footer-brand-custom-heading {
    @apply !text-xl md:!text-2xl !text-heading-pri !uppercase;
  }

  .footer-brand-custom-img-wrapper {
    @apply !h-12 md:!h-14 lg:!h-18 !w-auto;
  }

  .footer-brand-custom-img-wrapper > img {
    @apply !h-full !w-full;
  }

  /* LINK-BLOCK */
  .footer-multiblock-custom {
    @apply !flex !flex-row !justify-center !items-start gap-10 md:gap-12 lg:gap-32;
    /* @apply !grid !grid-cols-2 !justify-center !items-start gap-12 md:gap-30 lg:gap-40 !grow-0; */
  }

  .footer-block-link-custom {
    @apply !flex !flex-col !justify-center !items-start !gap-5 !basis-1 md:!basis-auto !text-foreground-pri;
  }

  .footer-block-link-custom-heading {
    @apply !text-2xl;
  }

  .footer-block-link-custom a,
  .footer-block-link-custom li {
    @apply !text-base;
  }

  .footer-block-link-custom ul {
    @apply !flex !flex-col !justify-center !items-start !gap-2;
  }

  /* CONTACT-BLOCK */
  .footer-block-contact-custom {
    @apply !text-base !flex !flex-col !justify-center !items-start gap-5 !text-foreground-pri;
  }

  .list-social__link {
    @apply !p-0;
  }

  .ind-contact-info-custom {
    @apply !flex !flex-row !justify-center items-center !gap-2;
  }

  .ind-contact-add-custom {
    @apply !items-start;
  }

  .ind-contact-add-custom > .contact-icon-custom {
    margin-top: 4px;
  }

  @supports (text-box-trim: trim-both) {
    .ind-contact-add-custom > p {
      text-box-trim: trim-both;
    }

    .ind-contact-add-custom > .contact-icon-custom {
      margin-top: 0px;
    }
  }

  .footer-block-contact-custom > a:hover {
    @apply !text-footer;
  }

  .footer-block.grid__item {
    @apply !m-0;
  }

  .footer-block-custom .footer-block__details-content {
    @apply !mb-0;
  }

  .list-wrapper-media-custom {
    @apply !flex !flex-row !justify-start !items-center !gap-3;
  }

  .list-item-media-custom {
    @apply !list-item;
  }

  /* FOOTER-BOTTOM */
  .footer-bottom-custom {
    @apply !bg-footer !py-12;
  }

  /* #region OVERWRITTEN */
  .copyright__content {
    @apply !text-lg;
  }

  .footer__copyright {
    @apply !mt-0;
  }

  .list-menu__item--link {
    @apply !pt-0 !pb-0;
  }

  .footer-block__image-wrapper,
  .footer-block__heading {
    @apply !mb-0;
  }

  .list-social__link:hover .icon {
    transform: scale(1) !important;
  }

  .footer-block-custom .list-menu__item--link {
    @apply !leading-none;
  }
  /* #endregion */

  /* #endregion */

  /* #region MAIN-PAGE */
  main {
    @apply !py-18;
  }

  .shopify-section,
  .section {
    @apply !bg-background;
  }

  .main-page-custom-wrapper {
    @apply !bg-background !text-base md:!text-lg !pt-0;
  }

  .main-page-title-custom {
    @apply !text-5xl;
  }

  .main-page-title {
    @apply !mb-8 !text-heading-pri;
  }
  /* #endregion */

  /* #region CONTACT-DETAILS */
  .ind-contact-details-section {
    @apply !flex !flex-col !gap-2;
  }

  .contact-details-custom-heading {
    @apply !font-medium !text-2xl;
  }

  .contact-details-custom-text {
    @apply !text-lg;
  }
  /* #endregion */

  /* #region CONTACT-FORM */
  .contact-form-custom-title {
    @apply !text-2xl !font-medium !mb-6;
  }

  .contact-details-wrapper-custom {
    @apply !bg-background flex flex-col justify-start items-start gap-10;
  }

  .contact-form-custom-wrapper {
    @apply !bg-background;
  }

  .form-custom-ip-field {
    @apply !p-0 !py-2 !px-4 !h-fit !text-lg;
  }

  .form-custom-ip-field::placeholder {
    @apply !opacity-100;
  }

  .field input {
    @apply !opacity-100;
  }

  .form-custom-label {
    @apply !text-lg;
  }

  .contact-btn-custom {
    @apply !mt-2.5;
  }
  /* #endregion */

  /* #region PRODUCT-COLLECTION-PAGE */
  .product-grid-custom {
    @apply !grid !grid-cols-1 md:!grid-cols-2 lg:!grid-cols-3 !gap-8 !justify-center !justify-items-center !items-stretch !w-9/10 lg:!w-4/5;
    margin: 0 auto !important;
  }

  .product-grid-item-custom {
    @apply !w-full !max-w-full;
  }

  .product-collection-custom-title {
    @apply !m-0 !pt-0 !mb-8 !text-5xl !text-heading-pri;
  }

  /* .collection-hero__title {
    @apply !m-0 !pt-[56px] !mb-[42px];
  } */

  /* #region FACET */
  .facet-filter-custom {
    @apply !flex !flex-row !justify-center !items-center;
  }

  .facets__summary {
    @apply !p-0;
  }

  .facets__disclosure {
    @apply !mr-0;
  }

  summary .icon-caret {
    @apply !static;
  }

  .facets__wrapper {
    @apply gap-4;
  }

  .filter-dropdown-icon {
    @apply !h-8 !w-8 !flex !justify-center !items-center;
  }

  .facet-filters__sort {
    @apply !pr-0;
  }
  /* #endregion */

  /* #endregion */

  /* #region PRODUCT-CARD */
  .product-card-wrapper-custom {
    @apply !border-2 !border-utility-bar;
  }

  .product-card-outside-custom {
    @apply !gap-2.5;
  }

  .card-bottom-custom {
    @apply !bg-footer !px-5;
  }

  .product-card-inner-custom {
    @apply !self-center !w-9/10;
  }

  /* .product-card-inner-custom::before,
  .product-card-inner-custom::after {
    display: none !important;
  } */

  .product-card-title-custom {
    @apply !text-xl md:!text-[22px] 2xl:!text-2xl !text-background !font-medium;
  }

  .product-card-title-custom:hover {
    @apply underline;
  }

  .add-cart-custom-btn {
    @apply !w-fit !min-w-2.5 !text-lg !text-header !bg-utility-bar !font-medium !px-8 !py-2.5;
    margin: 0 auto !important;
  }

  .add-cart-custom-btn:hover {
    @apply !bg-foreground-pri;
  }
  /* #endregion */

  /* #region PRICE */
  .price-item-regular-custom {
    @apply !text-lg !font-medium !text-foreground-pri !tracking-wider !opacity-70;
  }

  .price-item-sale-custom {
    @apply !text-xl !text-foreground-pri !tracking-wider !font-medium;
  }

  /* .price-item-regular-custom {
    @apply !text-lg !font-medium !text-foreground-pri !tracking-wider !opacity-70;
  }

  .price-item-sale-custom {
    @apply !text-xl !font-medium !text-foreground-pri !tracking-wider;
  } */
  /* #endregion */

  /* #region SEARCH */
  .search__button:hover .icon,
  .reset__button:hover .icon {
    transform: scale(1) !important;

    @apply !text-footer;
  }
  /* #endregion */

  /* #region FEATURED-COLLECTION */
  .featured-collection-title-custom {
    @apply !text-5xl !mb-8 !text-heading-pri;
  }

  .featured-product-grid-custom {
    @apply !grid !grid-cols-1 md:!grid-cols-2 lg:!grid-cols-3 !gap-8 !justify-center !justify-items-center !items-stretch !w-9/10 lg:!w-4/5;
    margin: 0 auto !important;
  }

  .featured-product-item-custom {
    @apply !w-full !max-w-full;
  }
  /* #endregion */

  /* #region IND-PRODUCT-PAGE */
  .ind-product-title-custom {
    @apply !text-5xl !text-heading-pri !font-medium;
  }
  /* #endregion */
}
