@layer components {
  /* #region HEADER */
  .header-custom-wrapper {
    @apply !bg-header;
  }

  /* .header-custom {
    @apply !px-2;
  } */

  .header-custom-logo {
    @apply !flex !flex-col !justify-center !items-center !p-0 gap-3;
  }

  .header-custom-logo-text {
    @apply !text-2xl sm:!text-3xl md:!text-4xl !uppercase !text-heading-pri;
    font-family: var(--font-heading-family) !important;
  }

  .header-custom-logo:hover .header-custom-logo-text {
    @apply !text-heading-pri-hover;
  }

  /* #region OVERWRITTEN */
  .header {
    @apply !py-4 sm:!py-3 !px-8;
  }

  .header__heading-logo-wrapper {
    @apply !flex !flex-col !justify-center !items-center;
  }

  .header__active-menu-item {
    @apply !no-underline;
  }

  .header-custom .header__menu-item {
    @apply !text-2xl !p-0 !px-2 !text-foreground-pri;
  }

  .header-custom .header__menu-item:hover {
    @apply !text-footer;
  }

  .header-custom .header__menu-item:hover span {
    @apply !text-footer;
  }

  .header__inline-menu {
    @apply !ml-0;
  }

  .header__icons {
    @apply !pr-0 gap-2 sm:gap-3 md:gap-5;
  }

  .header__icon {
    @apply !h-auto !w-auto;
  }

  .header__icon:hover .icon,
  .modal__close-button:hover .icon {
    transform: scale(1) !important;
  }

  .header__icon:hover .icon {
    @apply !text-footer;
  }

  /* .header__icon--menu .icon {
    position: static !important;
  } */

  /* .header-wrapper--border-bottom {
    @apply;
  } */

  /* .header-custom-navlist {
    @apply flex flex-row justify-start items-center gap-4;
  } */
  /* #endregion */

  /* #endregion */

  /* #region HEADER-SEARCH */
  .header-search-custom-modal {
    @apply !bg-navbar;
  }
  /* #endregion */

  /* #region MOBILE-MENU-DRAWER */
  .custom-menu-drawer {
    @apply !bg-header;
  }

  .header-drawer-icon-custom {
    @apply !h-18 !w-18;
  }

  .menu-drawer-bottom-custom {
    @apply !bg-footer;
  }

  /* OVERWRITTEN */
  .menu-drawer__menu-item {
    @apply !text-2xl;
  }
  /* #endregion */

  /* #region FOOTER */
  .footer-custom {
    @apply !bg-navbar !m-0 !pt-20 !pb-0;
  }

  .footer-wrapper-custom {
    @apply !grid !grid-cols-1 md:!grid-cols-[1fr_2fr_1fr] !items-center !gap-20 md:!gap-0;
  }

  .footer-block-custom {
    @apply !w-full !max-w-full;
  }

  .footer-multiblock-custom {
    @apply !flex !flex-row !justify-center !items-start gap-20 md:gap-30 lg:gap-40;
  }

  .footer-block-brand-custom {
    @apply !flex !flex-col !justify-center !items-center gap-2;
  }

  .footer-block-link-custom {
    @apply !flex !flex-col !justify-center !items-start !gap-2;
  }

  .footer-block-contact-custom {
    @apply !text-[1.35rem] !flex !flex-col !justify-center !items-start gap-5;
  }

  .footer-block-brand-custom .list-social__link {
    @apply !p-3;
  }

  .footer-brand-heading {
    @apply !text-heading-pri !uppercase;
  }

  .footer-custom-bottom {
    @apply !bg-footer !py-16;
  }

  .ind-contact-info-custom {
    @apply !flex !flex-row !justify-center items-center !gap-2;
  }

  .ind-contact-add-custom {
    @apply !items-start;
  }

  .ind-contact-add-custom > .contact-icon-custom {
    margin-top: 4px;
  }

  @supports (text-box-trim: trim-both) {
    .ind-contact-add-custom > p {
      text-box-trim: trim-both;
    }

    .ind-contact-add-custom > .contact-icon-custom {
      margin-top: 0px;
    }
  }

  .footer-block-contact-custom > a:hover {
    @apply !text-footer;
  }

  .footer-block.grid__item {
    @apply !m-0;
  }

  .footer-block-custom .footer-block__details-content {
    @apply !mb-0;
  }

  /* #region OVERWRITTEN */
  .copyright__content {
    @apply !text-lg;
  }

  .footer__copyright {
    @apply !mt-0;
  }

  .list-menu__item--link {
    @apply !pb-0;
  }

  .footer-block__image-wrapper,
  .footer-block__heading {
    @apply !mb-0;
  }

  .list-social__link:hover .icon {
    transform: scale(1) !important;
  }

  .footer-block-custom .list-menu__item--link {
    @apply !leading-none;
  }
  /* #endregion */

  /* #endregion */

  /* #region MAIN-PAGE */
  .shopify-section,
  .section {
    @apply !bg-background;
  }

  .main-page-custom-wrapper {
    @apply !bg-background;
  }

  .main-page-title-custom {
    @apply !text-7xl;
  }

  .main-page-title {
    @apply !mb-14;
  }
  /* #endregion */

  /* #region CONTACT-FORM */
  .contact-form-custom-wrapper {
    @apply !bg-background;
  }
  /* #endregion */

  /* #region PRODUCT-COLLECTION-PAGE */
  /* .product-collection-custom-title {
    @apply !mb-[42px];
  } */

  .collection-hero__title {
    @apply !m-0 !pt-[56px] !mb-[42px];
  }

  /* FACET */
  .facet-filter-custom {
    @apply !flex !flex-row !justify-center !items-center;
  }

  .facets__summary {
    @apply !p-0;
  }

  .facets__disclosure {
    @apply !mr-0;
  }

  summary .icon-caret {
    @apply !static;
  }

  .facets__wrapper {
    @apply gap-4;
  }

  .filter-dropdown-icon {
    @apply !h-8 !w-8 !flex !justify-center !items-center;
  }

  .facet-filters__sort {
    @apply !pr-0;
  }
  /* #endregion */

  /* #region PRODUCT-CARD */
  .product-card-title-custom {
    @apply !text-3xl !text-heading-pri;
  }
  /* #endregion */

  /* #region SEARCH */
  .search__button:hover .icon,
  .reset__button:hover .icon {
    transform: scale(1) !important;

    @apply !text-footer;
  }
  /* #endregion */
}
