@layer utilities {
  /* #region ICONS */
  .icon {
    @apply !h-full !w-full;
  }

  .header-icon-custom {
    @apply !h-header-icon-size !w-header-icon-size;
  }

  .header-icon-custom:hover {
    @apply !text-footer;
  }

  .header-large-icon-custom {
    @apply !h-header-large-icon-size !w-header-large-icon-size;
  }

  .header-large-icon-custom > .icon {
    @apply !h-header-large-icon-size !w-header-large-icon-size;
  }

  .header-large-icon-custom:hover {
    @apply !text-footer;
  }

  .menu-icon-custom {
    @apply !h-menu-icon-size !w-menu-icon-size;
  }

  .menu-icon-custom:hover {
    @apply !text-footer;
  }

  /* .icon-small {
    @apply !h-6 !w-6;
  } */

  /* .icon-custom {
    @apply !h-10 !w-10;
  } */

  .contact-icon-custom {
    @apply !h-footer-icon-size !w-footer-icon-size shrink-0;
  }

  .footer-icon-custom {
    @apply !text-foreground-pri !h-footer-icon-size !w-footer-icon-size;
  }

  .footer-icon-custom:hover {
    @apply !text-footer;
  }
  /* #endregion */

  /* #region BUTTONS */
  .btn-reg {
    @apply !p-0 !py-3 !px-8 !border-none !bg-heading-pri !text-background !text-xl !min-h-2 !min-w-2 !tracking-normal;
    font-family: var(--font-body-family) !important;
  }

  .btn-reg:hover {
    @apply !bg-foreground-pri;
  }

  .btn-reg:before,
  .btn-reg:after {
    content: '' !important; /* Set content to an empty string to remove any text or symbols */
    display: none !important; /* Optionally, hide the pseudo-element entirely */
    /* Reset other properties if necessary, e.g., width, height, background */
    width: 0 !important;
    height: 0 !important;
    background: none !important;
    border: none !important;
  }
  /* #endregion */

  .line-separator {
    @apply !m-0 !mb-14 !h-0 !border-b-2 !border-footer;
  }
}
